<nav
  class="bg-[var(--primary-color)] text-[var(--secondary-color)] p-4 w-full fixed top-0 z-50 transition-colors duration-300 ease-in-out">
  <div class="mx-auto flex justify-between items-center px-4">
    <div class="text-xl font-normal font-poppins">Toptool</div>
    <div class="flex items-center justify-center gap-8">
      <div class="flex justify-center">
        <!-- Botón para mostrar el menú contextual -->
        <button
          class="p-0 outline-none bg-transparent flex items-center justify-center"
          (click)="showMenu($event)"          
        >
        <i class="pi pi-user"></i>
      </button>
      </div>
      <!-- Botón de tema -->
      <!-- <button class="theme-toggle" type="button" (click)="toggleTheme()">
        <i [class]="isLightMode ? 'pi pi-moon' : 'pi pi-sun'"></i>
      </button> -->
    </div>
  </div>
</nav>

<!-- Menú contextual -->
<p-menu #menu [popup]="true" [model]="contextMenuItems" [appendTo]="'body'"></p-menu>