@font-face {
    font-family: 'poppins';
    src: url('./Poppins-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'ibm';
    src: url('./IBMPlexSans-Regular.ttf') format("opentype");
}
