/* Estilos personalizados para la tabla */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #f8fafc;
    color: #4a5568;
    font-weight: bold;
  }
  
  /* Estilo para el menú desplegable */
  .p-menu {
    width: 150px;
  }