.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 60px;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bounce 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
  }

  .circle-2 {
    animation-delay: 0.1s;
  }

  .circle-3 {
    animation-delay: 0.2s;
  }

  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }