<section class="container w-full mx-auto flex flex-col items-center justify-evenly gap-4 md:min-h-[800px]">
  <!-- Primera fila - 3 cards horizontales -->
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="h-full">
      <p-card header="Ordenes recibidas" styleClass="h-full transition-colors duration-300 ease-in-out"
        [style]="{backgroundColor: 'var(--primary-color)', color: 'var(--secondary-color)'}">
        <div class="card flex justify-center">
          <p-chart type="bar" [data]="ordersData" [options]="barOptions" class="w-full" />
        </div>
      </p-card>
    </div>

    <div class="h-full">
      <p-card header="Clientes registrados" styleClass="h-full transition-colors duration-300 ease-in-out"
        [style]="{backgroundColor: 'var(--primary-color)', color: 'var(--secondary-color)'}">
        <div class="card flex justify-center">
          <p-chart type="bar" [data]="clientsData" [options]="barOptions" class="w-full" />
        </div>
      </p-card>
    </div>

    <div class="h-full">
      <p-card header="Productos" styleClass="h-full transition-colors duration-300 ease-in-out"
        [style]="{backgroundColor: 'var(--primary-color)', color: 'var(--secondary-color)'}">
        <div class="card flex justify-center items-center">
          <p-chart type="doughnut" [data]="productsData" [options]="doughnutOptions" class="w-[250px] h-auto" />
        </div>
      </p-card>
    </div>
  </div>

  <div class="w-full h-full">
    <p-card header="Balance económico" styleClass="h-full transition-colors duration-300 ease-in-out"
      [style]="{backgroundColor: 'var(--primary-color)', color: 'var(--secondary-color)'}">
      <div class="card flex justify-center items-center">
        <p-chart type="line" [data]="economicsData" [options]="economicsOptions" class="w-full h-auto" />
      </div>
    </p-card>
  </div>
</section>